[Unit]
Description=BlueGofer Redis RDB backup to S3
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
User=ssm-user
Group=docker
ExecStart=/home/ssm-user/apps/ecommarce/scripts/redis-backup-to-s3.sh
StandardOutput=journal
StandardError=journal